{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
<!--        <article class="media content-section">-->
<!--          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
<!--          <div class="media-body">-->
<!--            <div class="article-metadata mb-2">-->
<!--              <a class="mr-2" href="#">{{ post.author }}</a>-->
<!--              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>-->
<!--            </div>-->
<!--            <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>-->
<!--            <p class="article-content">{{ post.content }}</p>-->
<!--          </div>-->
<!--        </article>-->

    <main role="main" class="container">
      <div class="row media content-section">
        <div class="col-md-1 d-flex justify-content-center">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        </div>
        <div class="col-md-11">
          <div class="article-metadata mb-2">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
            <p class="article-content">{{ post.content }}</p>
        </div>
      </div>
    </main>
    {% endfor %}
{% endblock content %}
